ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #000;
}
li ul {
	display: none;
}
li ul li {
	color: #888888;
}
ul > li:hover > a{
	text-decoration: underline;
}
li:hover > ul {
	display: block;
}